<template>
  <div id="app" class="container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Metru Task</h3>
      </div>
      <div class="panel-body">
        <form id="form" class="form-inline" enctype="multipart/form-data" v-on:submit.prevent="addNew">
          
          <md-field class="title">
            <label>Enter File Title</label>
            <md-input v-model="newRecord.title"></md-input>
          </md-field>

          <div class="form-group">
            <label for="file">File(pdf/video):</label>
            <input type="file" id="file" class="form-control" @change="onFileChange" accept=".pdf,.mp4">
          </div>
          <br><br>
          <small>
              <input type="submit" class="btn btn-primary" value="Add New">
          </small>
        </form>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Lists</h3>
      </div>
      <div class="panel-body">

     
        <button v-on:click="readTasksFilter('all')" class="btn btn-primary">Show All</button> 
        <button v-on:click="readTasksFilter('pdf')" class="btn btn-primary">Only PDF</button> 
        <button v-on:click="readTasksFilter('mp4')" class="btn btn-primary">Only Video</button>
      

        <md-table>
          <md-table-row>
            <md-table-head>Title</md-table-head>
            <md-table-head>File</md-table-head>
            <md-table-head>Delete</md-table-head>
          </md-table-row>

          <md-table-row v-for="file in files" v-if="show_all == 'all' ? 1 : file.type == show_all">
            <md-table-cell>{{ file.title }}</md-table-cell>
            <md-table-cell>
              <div style="display: none;">{{file_name = file.file.split('.')[1]}}</div>
              <embed v-if="file_name == 'pdf'" :src="'http://localhost/up/'+file.file" width="200" height="200" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
              <video v-else width="200" controls>
                <source :src="'http://localhost/up/'+file.file" type="video/mp4">
                Your browser does not support the video tag.
              </video>

            </md-table-cell>
            <md-table-cell>
              <span class="glyphicon glyphicon-trash" v-on:click="removeFile(file)"></span>
            </md-table-cell>
          </md-table-row>
        </md-table>

      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
  small {
    display: block;
  }

  .title{
    border-bottom: 1px solid #000 !important;
  }
</style>

<script>
import Firebase from 'firebase'

import toastr from 'toastr';

import Vue from 'vue'
import VueMaterial from 'vue-material'
import 'vue-material/dist/vue-material.min.css'
Vue.use(VueMaterial)

import axios from 'axios'
import VueAxios from 'vue-axios'
 
Vue.use(VueAxios, axios)

let config = {
  apiKey: "AIzaSyBRHuWCx4b6yV8yY4zLLyxKuVrnWfY022Y",
  authDomain: "metru-4dcfc.firebaseapp.com",
  databaseURL: "https://metru-4dcfc.firebaseio.com",
  projectId: "metru-4dcfc",
  storageBucket: "",
  messagingSenderId: "210405491861"
}

let app = Firebase.initializeApp(config);
let db = app.database();
let filesRef = db.ref('files');
export default {
  name: 'app',
  firebase:{
    files: filesRef
  },
  data (){
    return {
      newRecord: {
        title:'',
        file:'',
        type:''
      },
      image: '',
      show_all: 'all',
    }
  },
  methods:{
    addNew: function () {
      var data = {file: this.image};
      var $this = this;
      $.ajax({
          url: 'http://localhost/metru-api.php',
          method: 'POST',
          data: data,
          dataType: 'json',
          success: function(response){console.log(response)
            $this.newRecord.file = response.filename;
            $this.newRecord.type = response.type;
            filesRef.push($this.newRecord);
            $this.newRecord.title = '';
            $this.newRecord.file = '';
            $this.newRecord.type = '';
            document.getElementById('file').value = null;
          },
          error: function(){
            console.log('We did not succeed!');
          }
      });
    },
    onFileChange: function(e){
      var files = e.target.files || e.dataTransfer.files;
      if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var reader = new FileReader();
      var vm = this;

      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeFile: function (file) {
      filesRef.child(file['.key']).remove();
      toastr.success("File removed");
    },
    readTasksFilter: function(type){
      this.show_all = type;
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
